div#vt1 > div > div > div {
    float: left;
    margin: 0.5em;
    padding: 1em;
    border: 1px solid black;
    width: 15%;
}

/* div jossa taulukko */
div#vt1 > div > div > :first-child {
    width: 45%;
    min-width:min-content;
}

/* div jossa lisää sarja yms */
div#vt1 > div > div > :nth-child(2) {
    width: 15%;
    min-width: 18em;
}

div#vt1 > div > div > :nth-child(2) label {
    display: block;
} 

/* taulukon ominaisuuksia */
table {
    border-collapse: collapse;
    border: 1px dotted black;
    width: 100%;
}

tr {
    position: relative;
}


tr th {
    text-align: left;
    border: 1px dotted black;
    vertical-align: top;
    padding: 0;
}

tbody > tr th {
    white-space: nowrap;
}

td {
    border: 1px dotted black;
    vertical-align: top;
    padding: 0;
}

tbody > tr > :nth-child(4) ul {
    padding: 0;
    padding-right: 0.3em;
}

tbody > tr > :nth-child(4) ul li:after {
    content: ",";
}

tbody > tr > :nth-child(4) ul li:last-child::after {
    content: "";
}

tbody > tr > :nth-child(4) ul li {
    display: inline;
}

/* punainen poista "nappi" */
.red {
    display: none;
}

/* punainen poista "nappi näkyvyys kun hiirtä käyttää rivin päällä */
tr:hover .red {
    display: block;
    color: red;
    position: absolute;
    left: 0;
}


tr th {
    text-align: left;
    border: 1px dotted black;
    vertical-align: top;
    padding: 0;
}

tbody > tr th {
    white-space: nowrap;
}

td {
    border: 1px dotted black;
    vertical-align: top;
    padding: 0;
}

tbody > tr > :nth-child(4) ul {
    padding: 0;
    padding-right: 0.3em;
}

tbody > tr > :nth-child(4) ul li:after {
    content: ",";
}

tbody > tr > :nth-child(4) ul li:last-child::after {
    content: "";
}

tbody > tr > :nth-child(4) ul li {
    display: inline;
}

/* matka: vaihda tähän pyöristetyt kilometrit...*/
tbody > tr > :nth-child(6) {
    color: green;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}

ul li {
    margin: 0;
    padding: 0;
}

fieldset {
    border-color: #ccc;
    border-width: 1px;
}

div > form > fieldset > label {
    font-weight: bold;
    padding: 0.4em 0em;
}

/* Kentät joihin kirjoitetaan */
div > form > fieldset > label input {
    float: right;
}

/* Jäsenet kentät joihin kirjoitetaan */
input[name^="j"] {
    margin-bottom: 0.1em;
    margin-left: 0.4em;
}

fieldset > fieldset {
    border: none;
    padding: 0.6em;
}

fieldset > fieldset legend {
    font-weight: bold;
    margin-top: 1em;
}

/* Sarja */
fieldset > fieldset:nth-of-type(1) {
    float: right;
    margin-left: 1em;
}

fieldset > fieldset:nth-of-type(1) label {
    padding: 0.4em 0em;
}

fieldset > fieldset:nth-of-type(1) label input {
    float: right;
}

/* Leimaustavat */
fieldset > fieldset:nth-of-type(2) {
    margin-left: 2em;
}

fieldset > fieldset:nth-last-of-type(2) label {
    padding: 0.4em 0em;
}

fieldset > fieldset:nth-of-type(2) label input {
    float: right;
}

